<template>
  <div class="home">
    <Hero />
    <CardSection />
    <InfoSection />
    <CardSection2 />
    <InfoSection2 />
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '../components/Hero'
import CardSection from '../components/CardSection'
import InfoSection from '../components/InfoSection'
import CardSection2 from '../components/CardSection2'
import InfoSection2 from '../components/InfoSection2'
export default {
  name: 'Home',
  components: {
    Hero,
    CardSection,
    InfoSection,
    CardSection2,
    InfoSection2
  }
}
</script>
