<template>
  <div>
      <br>
      <br>
     <v-row no-gutters>
          <v-col cols="12" xs="12" sm="1" md="1" lg="1" xl="1"></v-col>
          <v-col cols="12" xs="12" sm="10" md="10" lg="10" xl="10">
              <v-row >
                  <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4">
                      <Card title="Easy to use" icons="mdi-bus-stop-uncovered" />
                  </v-col>
                  <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4">
                      <Card title="Quality fonts" icons="mdi-format-font " />
                  </v-col>
                  <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4">
                      <Card title="Quality icons" icons="mdi-diamond-stone " />
                  </v-col>
              </v-row>
          </v-col>
          <v-col cols="12" xs="12" sm="1" md="1" lg="1" xl="1"></v-col>
      </v-row>
  </div>
</template>

<script>
import Card from './Card'
export default {
components:{
    Card
}
}
</script>

<style>

</style>