<template>
  <div>
      <v-card
    class="mx-auto"
    flat
  >
  <v-icon size="60px"> {{icons}}</v-icon>
   <p class="text-h5 font-weight-bold">{{title}}</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum mollitia animi sint modi aut asperiores.</p>

  </v-card>
  </div>
</template>

<script>
export default {
props:['icons','title']
}
</script>

<style>

</style>