<template>
  <div>
      <v-row align="center" justify="center" >
          <v-col cols="12" xs="12" sm="1" md="1" lg="1" xl="1"></v-col>
          <v-col cols="12" xs="12" sm="5" md="5" lg="5" xl="5"  class="d-none d-sm-flex">
            <v-img width="100" max-height="400"  src="../assets/path24.png"></v-img>
          </v-col>
           <v-col cols="12" xs="12" sm="5" md="5" lg="5" xl="5">
              <div class="ma-4">
                  <p class="font-weight-bold text-h4 text-left">Get an amazing logo for your startup in 60 seconds</p>
                  <p class="text-left">A deligntful new way to make logos for your internet startups is coming soon</p>
                  <v-form>
                      <v-row no-gutters align="left" justify="left">
                         <v-col cols="8" xs="8">
                              <v-text-field
                            v-model="name"
                            label="Your e-mail"
                            outlined
                            solo
                            background-color="#efefef"
                            ></v-text-field>
                         </v-col>
                           <v-col cols="4" xs="4">
                               <v-btn x-large left color="primary lighten-1" class="text-caption text-capitalize">Notify me</v-btn>
                           </v-col>
                            
                      </v-row>
                  </v-form>
              </div>
          </v-col>
           <v-col cols="12" xs="12" sm="1" md="1" lg="1" xl="1"></v-col>
      </v-row>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>