<template>
  <div>
      <v-row justify="center" align="center">
          <v-col cols="12" xs="12" md="1" sm="1" lg="1" xl="1"></v-col>
          <v-col cols="12" xs="12" sm="5" md="5" lg="5" xl="5">
             <v-img  class=""  src="../assets/bitmap.png"></v-img>
          </v-col>
          <v-col cols="12" xs="12" sm="5" md="5" lg="5" xl="5">
                             <div class="ma-4">
                  <p class="font-weight-bold text-h4 text-left">Save time. <br>Save Money. <br>Do it  your way</p>
                  <p class="text-left">The new way to make a logo for your website or app coming soon</p>
                  <v-form>
                      <v-row no-gutters align="left" justify="left">
                         <v-col cols="8" xs="8">
                              <v-text-field
                            v-model="name"
                            label="Your e-mail"
                            outlined
                            solo
                            background-color="#efefef"
                            ></v-text-field>
                         </v-col>
                           <v-col cols="4" xs="4">
                               <v-btn x-large left color="primary lighten-1" class="text-caption text-capitalize">Notify me</v-btn>
                           </v-col>
                        
                      </v-row>
                  </v-form>
              </div>
                        </v-col>
                         <v-col cols="12" xs="12" md="1" sm="1" lg="1" xl="1"></v-col>
      </v-row>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>