<template>
  <div id="app">
     <v-app>
       <v-app-bar
      color="white"
      dense
      app
      flat
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="d-flex d-sm-none"></v-app-bar-nav-icon>
      <v-spacer class="d-flex d-sm-none"></v-spacer>
     
 
       <v-toolbar-title>Logobly</v-toolbar-title>
    
      

      <v-spacer ></v-spacer>
        <v-btn text class="text-capitalize font-weight-bold d-none d-sm-flex" to="/about">About</v-btn>
        <v-btn text class="text-capitalize font-weight-bold d-none d-sm-flex">Contact</v-btn>
        <v-btn text rounded href="https://gitlab.com/akejupaul10" class="text-capitalize font-weight-bold "><v-icon>mdi-gitlab</v-icon></v-btn>
    </v-app-bar>
    <!-- Menu Navbar -->
    <v-navigation-drawer
      v-model="drawer"
      absolute
      
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item to="/">
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item to="/about">
            <v-list-item-title>About</v-list-item-title>
          </v-list-item>

          <v-list-item to="/contact">
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item>

        </v-list-item-group>
      </v-list>
      <div class="ma-10">
        <p style="font-size:13px">Sign up with</p>
        <v-btn color="primary darken-2" dark block class="mb-2"><v-icon>mdi-linkedin</v-icon>linkedin</v-btn>
         <v-btn dark block><v-icon>mdi-google</v-icon>Google</v-btn>
      </div>
    </v-navigation-drawer>

    <v-content>
      <router-view/>
    </v-content>
     </v-app>
  </div>
</template>
<script>
export default {
  data(){
    return {
       drawer: false,
    }
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
